商户资料管理系统/商户资料管理系统/Service References/YatServer/YatMingService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2466/YatMingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="TServerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="MerchantId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServerContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServerDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ServerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServerNote" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServerPrice" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TServerDTO" nillable="true" type="tns:TServerDTO" />
  <xs:complexType name="ArrayOfTServerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TServerDTO" nillable="true" type="tns:TServerDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTServerDTO" nillable="true" type="tns:ArrayOfTServerDTO" />
  <xs:complexType name="TTrainDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="TrainContent" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="TrainDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TrainId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrainPeople" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrainType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TTrainDTO" nillable="true" type="tns:TTrainDTO" />
  <xs:complexType name="ArrayOfTTrainDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TTrainDTO" nillable="true" type="tns:TTrainDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTTrainDTO" nillable="true" type="tns:ArrayOfTTrainDTO" />
  <xs:complexType name="TEmployeeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmployeeAge" type="xs:int" />
      <xs:element minOccurs="0" name="EmployeeId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeePhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeSex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntryData" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EntryImage" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="IdCard" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TEmployeeDTO" nillable="true" type="tns:TEmployeeDTO" />
  <xs:complexType name="ArrayOfTEmployeeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TEmployeeDTO" nillable="true" type="tns:TEmployeeDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTEmployeeDTO" nillable="true" type="tns:ArrayOfTEmployeeDTO" />
  <xs:complexType name="TLoginDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmployeeId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginPsw" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TLoginDTO" nillable="true" type="tns:TLoginDTO" />
  <xs:complexType name="ArrayOfTLoginDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TLoginDTO" nillable="true" type="tns:TLoginDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTLoginDTO" nillable="true" type="tns:ArrayOfTLoginDTO" />
  <xs:complexType name="TCheckDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CheckDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CheckId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CheckTime" type="ser:duration" />
      <xs:element minOccurs="0" name="EmployeeId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OnTime" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TCheckDTO" nillable="true" type="tns:TCheckDTO" />
  <xs:complexType name="ArrayOfTCheckDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TCheckDTO" nillable="true" type="tns:TCheckDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTCheckDTO" nillable="true" type="tns:ArrayOfTCheckDTO" />
  <xs:complexType name="TBaseInfoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaseInfoId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Feedback" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lat" type="xs:double" />
      <xs:element minOccurs="0" name="Logo" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Lon" type="xs:double" />
      <xs:element minOccurs="0" name="MerchantAdd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MerchantBoss" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MerchantId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MerchantName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MerchantSex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MerchantTel" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TBaseInfoDTO" nillable="true" type="tns:TBaseInfoDTO" />
  <xs:complexType name="ArrayOfTBaseInfoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TBaseInfoDTO" nillable="true" type="tns:TBaseInfoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTBaseInfoDTO" nillable="true" type="tns:ArrayOfTBaseInfoDTO" />
  <xs:complexType name="TMerchantTypeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="MerchantDes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MerchantId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MerchatType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TMerchantTypeDTO" nillable="true" type="tns:TMerchantTypeDTO" />
  <xs:complexType name="ArrayOfTMerchantTypeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TMerchantTypeDTO" nillable="true" type="tns:TMerchantTypeDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTMerchantTypeDTO" nillable="true" type="tns:ArrayOfTMerchantTypeDTO" />
  <xs:complexType name="TDetailInfoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaseInfoId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContractId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DetailId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IntentionPackId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MerchantPriceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MerchantReq" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MerchantReqP" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="SubmitId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TDetailInfoDTO" nillable="true" type="tns:TDetailInfoDTO" />
  <xs:complexType name="ArrayOfTDetailInfoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TDetailInfoDTO" nillable="true" type="tns:TDetailInfoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTDetailInfoDTO" nillable="true" type="tns:ArrayOfTDetailInfoDTO" />
  <xs:complexType name="TDataInfoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaseInfoId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataContent" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="DataContent1" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="DataContent10" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="DataContent11" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="DataContent12" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="DataContent13" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="DataContent14" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="DataContent15" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="DataContent16" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="DataContent17" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="DataContent18" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="DataContent19" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="DataContent2" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="DataContent20" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="DataContent3" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="DataContent4" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="DataContent5" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="DataContent6" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="DataContent7" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="DataContent8" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="DataContent9" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="DataDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DownloadTimes" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FileSize" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsForlder" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastModifyTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MetaDataId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UploadPeople" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TDataInfoDTO" nillable="true" type="tns:TDataInfoDTO" />
  <xs:complexType name="ArrayOfTDataInfoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TDataInfoDTO" nillable="true" type="tns:TDataInfoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTDataInfoDTO" nillable="true" type="tns:ArrayOfTDataInfoDTO" />
  <xs:complexType name="TPromotionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="MerchantId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NextTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PainSpot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PromotionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PromotionTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PromotionTimes" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Question" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Solution" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TPromotionDTO" nillable="true" type="tns:TPromotionDTO" />
  <xs:complexType name="ArrayOfTPromotionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TPromotionDTO" nillable="true" type="tns:TPromotionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTPromotionDTO" nillable="true" type="tns:ArrayOfTPromotionDTO" />
  <xs:complexType name="TPlatformDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MerchantId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlatformId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlatformName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlatformUri" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TPlatformDTO" nillable="true" type="tns:TPlatformDTO" />
  <xs:complexType name="ArrayOfTPlatformDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TPlatformDTO" nillable="true" type="tns:TPlatformDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTPlatformDTO" nillable="true" type="tns:ArrayOfTPlatformDTO" />
  <xs:complexType name="TShopDataDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankP" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BusinessAdd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BusinessHourE" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BusinessHourS" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BusinessLicN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BusinessLicP" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="BusinessName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CPP" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DataId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdCardN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdCardP1" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="IdCardP2" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="MerchantName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OtherLicN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OtherLicP" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="PayeeMobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WIFI" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="WifiAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WifiPsw" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TShopDataDTO" nillable="true" type="tns:TShopDataDTO" />
  <xs:complexType name="ArrayOfTShopDataDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TShopDataDTO" nillable="true" type="tns:TShopDataDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTShopDataDTO" nillable="true" type="tns:ArrayOfTShopDataDTO" />
  <xs:complexType name="TPriceDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExtraDes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExtraPrice" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="HardwareId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MerchantPriceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackageId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServerDes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServerPrice" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TPriceDTO" nillable="true" type="tns:TPriceDTO" />
  <xs:complexType name="ArrayOfTPriceDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TPriceDTO" nillable="true" type="tns:TPriceDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTPriceDTO" nillable="true" type="tns:ArrayOfTPriceDTO" />
  <xs:complexType name="TPackageDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackageId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackageName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TPackageDTO" nillable="true" type="tns:TPackageDTO" />
  <xs:complexType name="ArrayOfTPackageDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TPackageDTO" nillable="true" type="tns:TPackageDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTPackageDTO" nillable="true" type="tns:ArrayOfTPackageDTO" />
  <xs:complexType name="THardwareDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="HFuction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HardwareId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HardwareName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InPrice" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OutPrice" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="THardwareDTO" nillable="true" type="tns:THardwareDTO" />
  <xs:complexType name="ArrayOfTHardwareDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="THardwareDTO" nillable="true" type="tns:THardwareDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTHardwareDTO" nillable="true" type="tns:ArrayOfTHardwareDTO" />
  <xs:complexType name="TContractDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContractId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContractInfo" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ContractP" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ContractP1" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ContractP2" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ContractP3" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ContractP4" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ContractPeople" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpireDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SignDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TContractDTO" nillable="true" type="tns:TContractDTO" />
  <xs:complexType name="ArrayOfTContractDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TContractDTO" nillable="true" type="tns:TContractDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTContractDTO" nillable="true" type="tns:ArrayOfTContractDTO" />
  <xs:complexType name="TSubmitDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Hardware" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Platform" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="SubmitContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubmitDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SubmitId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubmitPeople" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Train" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TSubmitDTO" nillable="true" type="tns:TSubmitDTO" />
  <xs:complexType name="ArrayOfTSubmitDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TSubmitDTO" nillable="true" type="tns:TSubmitDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTSubmitDTO" nillable="true" type="tns:ArrayOfTSubmitDTO" />
</xs:schema>