商户资料管理系统/商户资料管理系统/Service References/YatServer/YatMingService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.0.144/YatMing/YatMingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" />
  <xs:import schemaLocation="http://192.168.0.144/YatMing/YatMingService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="TServerUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TServerDTO" nillable="true" type="q1:TServerDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TServerUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TServerUpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TServerDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TServerDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TServerDeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TServerQueryById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TServerQueryByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TServerQueryByIdResult" nillable="true" type="q2:TServerDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TServerQueryAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TServerQueryAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TServerQueryAllResult" nillable="true" type="q3:ArrayOfTServerDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TTrainAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TTrainDTO" nillable="true" type="q4:TTrainDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TTrainAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TTrainAddResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TTrainUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TTrainDTO" nillable="true" type="q5:TTrainDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TTrainUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TTrainUpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TTrainDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TTrainDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TTrainDeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TTrainQueryById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TTrainQueryByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TTrainQueryByIdResult" nillable="true" type="q6:TTrainDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TTrainQueryAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TTrainQueryAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TTrainQueryAllResult" nillable="true" type="q7:ArrayOfTTrainDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TEmployeeAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TEmployeeDTO" nillable="true" type="q8:TEmployeeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TEmployeeAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TEmployeeAddResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TEmployeeUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TEmployeeDTO" nillable="true" type="q9:TEmployeeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TEmployeeUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TEmployeeUpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TEmployeeDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TEmployeeDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TEmployeeDeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TEmployeeQueryById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TEmployeeQueryByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TEmployeeQueryByIdResult" nillable="true" type="q10:TEmployeeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TEmployeeQueryAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TEmployeeQueryAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TEmployeeQueryAllResult" nillable="true" type="q11:ArrayOfTEmployeeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TLoginAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TLoginDTO" nillable="true" type="q12:TLoginDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TLoginAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TLoginAddResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TLoginUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TLoginDTO" nillable="true" type="q13:TLoginDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TLoginUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TLoginUpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TLoginDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TLoginDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TLoginDeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TLoginQueryById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TLoginQueryByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TLoginQueryByIdResult" nillable="true" type="q14:TLoginDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TLoginQueryAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TLoginQueryAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TLoginQueryAllResult" nillable="true" type="q15:ArrayOfTLoginDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TLoginCheckLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="account" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="psw" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TLoginCheckLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TLoginCheckLoginResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="result" nillable="true" type="q16:TLoginDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TLoginCheckAccountExits">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="account" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TLoginCheckAccountExitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TLoginCheckAccountExitsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TLoginCheckUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="currentVersion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TLoginCheckUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TLoginCheckUpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TLoginUpdateSys">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TLoginUpdateSysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TLoginUpdateSysResult" type="xs:boolean" />
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="uploadFileLst" nillable="true" type="q17:ArrayOfstring" />
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="deleteFileLst" nillable="true" type="q18:ArrayOfstring" />
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="fileContent" nillable="true" type="q19:ArrayOfbase64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TCheckAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TCheckDTO" nillable="true" type="q20:TCheckDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TCheckAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TCheckAddResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TCheckUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TCheckDTO" nillable="true" type="q21:TCheckDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TCheckUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TCheckUpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TCheckDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TCheckDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TCheckDeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TCheckQueryById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TCheckQueryByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TCheckQueryByIdResult" nillable="true" type="q22:TCheckDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TCheckQueryAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TCheckQueryAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TCheckQueryAllResult" nillable="true" type="q23:ArrayOfTCheckDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TBaseInfoAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TBaseInfoDTO" nillable="true" type="q24:TBaseInfoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TBaseInfoAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TBaseInfoAddResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TBaseInfoUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TBaseInfoDTO" nillable="true" type="q25:TBaseInfoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TBaseInfoUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TBaseInfoUpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TBaseInfoDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TBaseInfoDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TBaseInfoDeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TBaseInfoQueryById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TBaseInfoQueryByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TBaseInfoQueryByIdResult" nillable="true" type="q26:TBaseInfoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TBaseInfoQueryAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TBaseInfoQueryAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TBaseInfoQueryAllResult" nillable="true" type="q27:ArrayOfTBaseInfoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TBaseInfoQueryByKeyword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TBaseInfoQueryByKeywordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TBaseInfoQueryByKeywordResult" nillable="true" type="q28:ArrayOfTBaseInfoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TMerchantTypeAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TMerchantTypeDTO" nillable="true" type="q29:TMerchantTypeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TMerchantTypeAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TMerchantTypeAddResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TMerchantTypeUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TMerchantTypeDTO" nillable="true" type="q30:TMerchantTypeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TMerchantTypeUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TMerchantTypeUpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TMerchantTypeDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TMerchantTypeDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TMerchantTypeDeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TMerchantTypeQueryById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TMerchantTypeQueryByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TMerchantTypeQueryByIdResult" nillable="true" type="q31:TMerchantTypeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TMerchantTypeQueryAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TMerchantTypeQueryAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TMerchantTypeQueryAllResult" nillable="true" type="q32:ArrayOfTMerchantTypeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TMerchantTypeGetByPid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TMerchantTypeGetByPidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TMerchantTypeGetByPidResult" nillable="true" type="q33:ArrayOfTMerchantTypeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TDetailInfoAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TDetailInfoDTO" nillable="true" type="q34:TDetailInfoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TDetailInfoAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TDetailInfoAddResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TDetailInfoUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TDetailInfoDTO" nillable="true" type="q35:TDetailInfoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TDetailInfoUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TDetailInfoUpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TDetailInfoDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TDetailInfoDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TDetailInfoDeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TDetailInfoQueryById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TDetailInfoQueryByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TDetailInfoQueryByIdResult" nillable="true" type="q36:TDetailInfoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TDetailInfoQueryAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TDetailInfoQueryAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TDetailInfoQueryAllResult" nillable="true" type="q37:ArrayOfTDetailInfoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TDetailInfoGetByForignKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TDetailInfoGetByForignKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TDetailInfoGetByForignKeyResult" nillable="true" type="q38:TDetailInfoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TDataInfoAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TDataInfoDTO" nillable="true" type="q39:TDataInfoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TDataInfoAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TDataInfoAddResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TDataInfoUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TDataInfoDTO" nillable="true" type="q40:TDataInfoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TDataInfoUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TDataInfoUpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TDataInfoDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TDataInfoDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TDataInfoDeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TDataInfoQueryById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TDataInfoQueryByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TDataInfoQueryByIdResult" nillable="true" type="q41:TDataInfoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TDataInfoQueryAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TDataInfoQueryAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TDataInfoQueryAllResult" nillable="true" type="q42:ArrayOfTDataInfoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TDataInfoUploadFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="buffer" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="metaId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TDataInfoUploadFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TDataInfoUploadFileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TDataInfoDownloadFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="length" type="xs:long" />
        <xs:element minOccurs="0" name="metaId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TDataInfoDownloadFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TDataInfoDownloadFileResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="outstream" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TDataInGetByForginKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TDataInGetByForginKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TDataInGetByForginKeyResult" nillable="true" type="q43:ArrayOfTDataInfoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TDataInGetByParentKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TDataInGetByParentKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TDataInGetByParentKeyResult" nillable="true" type="q44:ArrayOfTDataInfoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TDataInQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="limit" type="xs:boolean" />
        <xs:element minOccurs="0" name="start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end" type="xs:dateTime" />
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="baseId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TDataInQueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TDataInQueryResult" nillable="true" type="q45:ArrayOfTDataInfoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TDataInDoConvert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="metaId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TDataInDoConvertResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TPromotionAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TPromotionDTO" nillable="true" type="q46:TPromotionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TPromotionAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TPromotionAddResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TPromotionUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TPromotionDTO" nillable="true" type="q47:TPromotionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TPromotionUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TPromotionUpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TPromotionDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TPromotionDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TPromotionDeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TPromotionQueryById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TPromotionQueryByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TPromotionQueryByIdResult" nillable="true" type="q48:TPromotionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TPromotionQueryAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TPromotionQueryAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TPromotionQueryAllResult" nillable="true" type="q49:ArrayOfTPromotionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TPlatformAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TPlatformDTO" nillable="true" type="q50:TPlatformDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TPlatformAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TPlatformAddResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TPlatformUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TPlatformDTO" nillable="true" type="q51:TPlatformDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TPlatformUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TPlatformUpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TPlatformDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TPlatformDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TPlatformDeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TPlatformQueryById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TPlatformQueryByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TPlatformQueryByIdResult" nillable="true" type="q52:TPlatformDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TPlatformQueryAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TPlatformQueryAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TPlatformQueryAllResult" nillable="true" type="q53:ArrayOfTPlatformDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TPlatformGetByForignKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TPlatformGetByForignKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TPlatformGetByForignKeyResult" nillable="true" type="q54:ArrayOfTPlatformDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TShopDataAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TShopDataDTO" nillable="true" type="q55:TShopDataDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TShopDataAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TShopDataAddResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TShopDataUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TShopDataDTO" nillable="true" type="q56:TShopDataDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TShopDataUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TShopDataUpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TShopDataDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TShopDataDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TShopDataDeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TShopDataQueryById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TShopDataQueryByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TShopDataQueryByIdResult" nillable="true" type="q57:TShopDataDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TShopDataQueryAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TShopDataQueryAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TShopDataQueryAllResult" nillable="true" type="q58:ArrayOfTShopDataDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TPriceAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TPriceDTO" nillable="true" type="q59:TPriceDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TPriceAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TPriceAddResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TPriceUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TPriceDTO" nillable="true" type="q60:TPriceDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TPriceUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TPriceUpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TPriceDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TPriceDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TPriceDeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TPriceQueryById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TPriceQueryByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TPriceQueryByIdResult" nillable="true" type="q61:TPriceDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TPriceQueryAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TPriceQueryAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TPriceQueryAllResult" nillable="true" type="q62:ArrayOfTPriceDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TPackageAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TPackageDTO" nillable="true" type="q63:TPackageDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TPackageAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TPackageAddResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TPackageUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TPackageDTO" nillable="true" type="q64:TPackageDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TPackageUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TPackageUpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TPackageDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TPackageDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TPackageDeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TPackageQueryById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TPackageQueryByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TPackageQueryByIdResult" nillable="true" type="q65:TPackageDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TPackageQueryAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TPackageQueryAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TPackageQueryAllResult" nillable="true" type="q66:ArrayOfTPackageDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="THardwareAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="THardwareDTO" nillable="true" type="q67:THardwareDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="THardwareAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="THardwareAddResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="THardwareUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="THardwareDTO" nillable="true" type="q68:THardwareDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="THardwareUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="THardwareUpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="THardwareDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="THardwareDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="THardwareDeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="THardwareQueryById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="THardwareQueryByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="THardwareQueryByIdResult" nillable="true" type="q69:THardwareDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="THardwareQueryAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="THardwareQueryAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="THardwareQueryAllResult" nillable="true" type="q70:ArrayOfTHardwareDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TContractAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TContractDTO" nillable="true" type="q71:TContractDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TContractAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TContractAddResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TContractUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TContractDTO" nillable="true" type="q72:TContractDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TContractUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TContractUpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TContractDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TContractDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TContractDeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TContractQueryById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TContractQueryByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TContractQueryByIdResult" nillable="true" type="q73:TContractDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TContractQueryAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TContractQueryAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TContractQueryAllResult" nillable="true" type="q74:ArrayOfTContractDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TSubmitAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TSubmitDTO" nillable="true" type="q75:TSubmitDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TSubmitAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TSubmitAddResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TSubmitUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TSubmitDTO" nillable="true" type="q76:TSubmitDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TSubmitUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TSubmitUpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TSubmitDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TSubmitDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TSubmitDeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TSubmitQueryById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TSubmitQueryByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TSubmitQueryByIdResult" nillable="true" type="q77:TSubmitDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TSubmitQueryAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TSubmitQueryAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TSubmitQueryAllResult" nillable="true" type="q78:ArrayOfTSubmitDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TServerAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/iTelluro.Explorer.YatMing.Application.DTO" minOccurs="0" name="TServerDTO" nillable="true" type="q79:TServerDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TServerAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TServerAddResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>